{% comment %} 
    Announcement-bar-content - snippet for announcement-bar
        Renders the content for block types "announcement" and "countdown"

    Fields:         Used by:    Description
    blockType:      both        Identifies the block type. announcement/countdown
    textField:      both        The text to display
    linkField:      both        The link URL
    alignment:      both        Text alignment (left, center, right)
    shopify         both        Shopify attributes
    attributes:     both        The block id
    colorScheme:    both        Selected color scheme
    counter         countdown   The Countdown date/time
    disableLink     countdown   True disables the link when count down finishes
    heading_size    countdown   The size of the header h1, h3, h5
    days_indicator   countdown   Indicates the day field (can be blank)
    hours_indicator  countdown   Indicates the hour field (can be blank)
    minutes_indicator countdown  Indicates the minutes field (can be blank)
    seconds_indicator countdown Indicates the seconds field (can be blank)
    countdown_complete_message countdown Text for when count down finishes

{% endcomment %}

{%- liquid 
    unless days_indicator != blank
        assign days_indicator = " : "
    endunless

    unless hours_indicator != blank
        assign hours_indicator = " : "
    endunless

    unless minutes_indicator != blank
        assign minutes_indicator = " : "
    endunless

-%}

{%- capture blockId -%}
    {{ attributes }}, countdown
{%- endcapture -%}

{%- if textField != blank or blockType == 'countdown' and counter != blank -%}
    <div class="page-width color-{{ colorScheme }}">
        {%- if linkField != blank -%}
            <a href="{{ linkField }}" class="announcement-bar__link link link--text focus-inset animate-arrow {{ alignment }}" {{ shopify }} {%- if blockType == 'countdown' and linkField != blank -%} data-countdown="{{ counter | escape }}" data-days_indicator="{{ days_indicator | escape }}" data-hours_indicator="{{ hours_indicator | escape }}" data-minutes_indicator="{{ minutes_indicator | escape }}" data-seconds_indicator="{{ seconds_indicator | escape }}" data-countdowncompletemessage="{{ countdown_complete_message | escape }}" data-block-identifier="{{ blockId }}" data-heading_size="{{ heading_size }}" data-disablelink="{{ disableLink }}" {%- endif -%} >
        {%- endif -%}
            <p class="announcement-bar__message {% if blockType == 'countdown' %} {{ heading_size }} countdown {% else %} h5 {% endif %}  {{ alignment }}" {{ shopify }} {%- if blockType == 'countdown' and linkField == blank -%} data-countdown="{{ counter | escape }}" data-days_indicator="{{ days_indicator | escape }}" data-hours_indicator="{{ hours_indicator | escape }}" data-minutes_indicator="{{ minutes_indicator | escape }}" data-seconds_indicator="{{ seconds_indicator | escape }}" data-countdowncompletemessage="{{ countdown_complete_message | escape }}" data-block-identifier="{{ blockId }}" data-heading_size="{{ heading_size }}" {%- endif -%}>
                <span>{{ textField | escape }} </span>
                {%- if blockType == 'countdown' -%}
                    <span id="countdown-days">0{{ days_indicator }} </span>
                    <span id="countdown-hours">0{{ hours_indicator }} </span>
                    <span id="countdown-minutes">0{{ minutes_indicator }} </span>
                    <span id="countdown-seconds">0{{ seconds_indicator }} </span>
                {%- endif -%}
                {%- if linkField != blank -%}
                {% render 'icon-arrow' %}
                {%- endif -%}
            </p>
            </div>
        {%- if linkField != blank -%}
            </a>
        {%- endif -%}
    </div>
{%- endif -%}
